$primaryColor: #793ea5;
$secondaryColor: #fec400;

$fontColor: #ffffdd;
$secondFontColor: #fec400;

$fontSize: 1rem;
$l-fontSize: $fontSize * 1.3;
$xl-fontSize: $fontSize * 1.7;

$fontFamily: "Montserrat";

$danger: rgb(223,69,84);