@import '../../../variables';

.textarea-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  & > label {
    display: block;
    color: $secondaryColor;
    transform: scale(0);
  }

  .textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $primaryColor;
    border-right: 1px solid $primaryColor;
    border-bottom-right-radius: $border-radius * 0.4;
    outline: none;
    color: $fontColor;
    padding: $base-padding * 0.4;
  }
}