.savedInformation {
  width: 100%;
}

.savedInformation > .headlineInformation > h2 {
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ffffff77;
}

.savedInformation > .information {
  display: flex;
  padding: 0.5rem 0.3rem;
}

.savedInformation > .information > p{
  width: 120px;
}

.savedInformation > .information > span {
  color: #fec400;
  font-size: 1.2rem;
}

.lastVisit {
  border: 1px solid pink;
  padding: 1rem;
}

.lastVisit > h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.lastVisit > h3 > span {
  color: #fec400;
}
