@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background ($url) {
  width: 100%;
  background-image: url($url);
  background-size: cover;
  background-position: center center;
  background-color: #00000066;
  background-blend-mode: darken;
}