@mixin flex ($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin background ($url) {
  width: 100%;
  background-image: url($url);
  background-size: cover;
  background-position: center center;
  background-color: #00000066;
  background-blend-mode: darken;
}