@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background ($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
}