@import './style/grid.scss';
@import './style/components/LogIn/LogIn.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primaryFontFamily;
}

svg {
  color: $fontColor;
}