.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.justify-center {
  justify-content: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

@media (min-width: 300px) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

#logIn {
  height: 100vh;
  min-height: 100vh;
  background-image: url("./Img/background-log-in-mini.webp");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  padding-bottom: 1rem;
  padding-top: 3rem;
  color: #ffffdd;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logIn .form {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8666666667);
  padding: 1rem;
}
#logIn .form > .form-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#logIn .form > .form-header > svg:hover {
  cursor: pointer;
}
#logIn .form > .form-header > .relative {
  position: absolute;
  top: -90%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
#logIn .form > .message-container {
  padding-block: 1rem;
}
#logIn .form > .message-container > .api-message {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8666666667);
  margin: 0 auto;
  color: #ffffdd;
  font-size: 0.8rem;
  border: 1px solid #fec400;
  padding: 0.3rem;
  text-align: center;
  box-shadow: 0 0 10px rgb(223, 69, 84);
}
#logIn .form > .form-footer {
  padding: 1rem;
  border-top: 1px solid #9c9c9c;
  color: #ffffdd;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logIn .form > .form-footer > p > span > a {
  color: #fec400;
}

.input-container {
  margin-bottom: 1rem;
}
.input-container > label {
  display: block;
  color: #fec400;
  transform: scale(0);
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
}
.input-container .input {
  height: 40px;
  margin-bottom: 0.2rem;
  display: flex;
}
.input-container .input > span {
  flex-grow: 1;
  min-width: 2rem;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #793ea5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #ffffdd;
}
.input-container .input > input {
  flex-grow: 9;
  height: 100%;
  padding-left: 1rem;
  outline: none;
}
.input-container .input > .input-invalid {
  border: 1px solid rgb(223, 69, 84);
  box-shadow: 0px 0px 10px rgb(223, 69, 84);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: transparent;
  color: #ffffdd;
}
.input-container > .message > .invalid {
  font-style: italic;
  color: rgb(223, 69, 84);
  font-size: 0.8rem;
  font-weight: 600;
}

.login-input {
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.text-input {
  border: none;
  border-bottom: 1px solid #793ea5;
  border-right: 1px solid #793ea5;
  border-bottom-right-radius: 8px;
  background-color: transparent;
  color: #ffffdd;
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.show-label {
  animation: show 1000ms ease forwards;
}

#left-container > h3 {
  margin: 1rem 1rem;
  text-align: center;
}
#left-container > .input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#left-container > .input-group > div {
  flex-grow: 1;
}
#left-container .sendButton > button {
  float: right;
  margin: 1rem 3rem;
  border-radius: 4px;
  padding: 0.3rem;
  width: max(150px, 30%);
}

#right-container .savedInformation > .headlineInformation > h3 {
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ffffdd;
}
#right-container > .lastVisit {
  border: 1px solid #fec400;
  border-radius: 10px;
  padding: 1rem 0.2rem;
}
#right-container > .lastVisit > h3 {
  text-align: center;
  margin-bottom: 1rem;
}
#right-container > .lastVisit > h3 > span {
  color: #fec400;
}

#reception {
  min-height: 100vh;
  background-image: url("./Img/hero-bg.webp");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  padding-bottom: 1rem;
  padding-top: 3rem;
  color: #ffffdd;
}

#leftContentMeasuring .carpetId {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
#leftContentMeasuring .carpetId > label > span {
  color: #fec400;
}
#leftContentMeasuring .carpetId input {
  width: 60px;
  text-align: center;
  margin-top: 0.5rem;
  border-left: 1px solid #793ea5;
  border-top: 1px solid #793ea5;
  border-top-left-radius: 8px;
  font-size: 1.3rem;
}
#leftContentMeasuring .date {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 1rem;
}
#leftContentMeasuring .date .react-date-picker button svg {
  stroke: #793ea5;
}
#leftContentMeasuring > .forPay {
  width: 100%;
  height: 5rem;
  padding: 1rem;
}
#leftContentMeasuring > .forPay > p {
  float: right;
}
#leftContentMeasuring > .forPay > p > span {
  color: #fec400;
  font-size: 1.7rem;
}

#rightContentMeasuring .carpetDiv {
  border: 1px solid #fec400;
  border-radius: 20px;
  padding: 1rem;
}
#rightContentMeasuring .carpetDiv p {
  margin-bottom: 0.3rem;
}
#rightContentMeasuring .carpetDiv p span {
  color: #fec400;
  font-style: italic;
}

#measuringAndPreparingCarpet {
  min-height: 100vh;
  background-image: url("./Img/hero-bg.webp");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  padding-bottom: 1rem;
  padding-top: 3rem;
  color: #ffffdd;
}

#deliveryPage {
  min-height: 100vh;
  background-image: url("./Img/hero-bg.webp");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  padding-bottom: 1rem;
  padding-top: 3rem;
  color: #ffffdd;
}
#deliveryPage .reception > p {
  text-align: center;
  margin-bottom: 1rem;
}
#deliveryPage .reception > p span {
  color: #fec400;
  font-size: 1.3rem;
}
#deliveryPage .reception .info {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #793ea5;
  border-radius: 10px;
  padding: 0.2rem;
}
#deliveryPage .reception .info span:first-child {
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
}
#deliveryPage .reception .info span:last-child {
  margin-left: 1rem;
  color: #fec400;
  font-style: italic;
}
#deliveryPage .reception .deliveryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#deliveryPage .reception .deliveryButton > button {
  font-size: 1.3rem;
  width: max(250px, 80%);
}

#scheduling {
  min-height: 100vh;
  background-image: url("./Img/hero-bg.webp");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  padding-bottom: 1rem;
  padding-top: 3rem;
  color: #ffffdd;
}
#scheduling h3 {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

svg {
  color: #ffffdd;
}

.section-part {
  border: 1px solid #793ea5;
  border-radius: 20px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8666666667);
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  color: #fec400;
  margin: 1rem;
  text-shadow: 2px 2px 2px #222;
}

.information {
  padding: 0.3rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #793ea5;
  border-radius: 10px;
}
.information > :first-child {
  display: block;
  font-style: italic;
  color: #fec400;
  font-weight: 300;
  margin-bottom: 0.3rem;
}
.information > :last-child {
  margin-left: 1rem;
  font-size: 0.9rem;
}/*# sourceMappingURL=index.css.map */