@import './style/grid.scss';
@import './style/components/Layout/LogIn/LogIn';
@import './style/components/Layout/Button/button.scss';
@import './style/components/Layout/Textarea/textarea';

@import './style/components/Input/input';
@import './style/components/CarpetReceptions/carpetReceptions';
@import './style/components/MeasuringAndPreparing/measuringAndPreparing';
@import './style/components/Delivery/delivery';
@import './style/components/Scheduling/sheduling';
@import './style/components/Modal/modal';
@import './style/components/Header/header';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: $primaryFontFamily;
}

svg {
  color: $fontColor;
}

.section-part  {
  border: 1px solid $primaryColor;
  border-radius: $border-radius;
  padding: $base-padding;
  background-color: $background;
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  color: $secondFontColor;
  margin: 1rem;
  text-shadow: 2px 2px 2px #222;
}

.information {
  padding: 0.3rem;
  font-family: $secondaryFontFamily;
  font-weight: 600;
  border-bottom: 1px solid #793ea5;
  border-radius: 10px;

  & > :first-child {
    display: block;
    font-style: italic;
    color: $secondaryColor;
    font-weight: 300;
    margin-bottom: 0.3rem;
  }

  & > :last-child {
    margin-left: 1rem;
    font-size: 0.9rem;
  }
}

.big-button {
  @include flex ();
  flex-direction: column;
  
  & > button {
    margin-bottom: 0.3rem;
    font-size: $fontSize;
    width: max(220px, 80%);
  }
}