.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.justify-center {
  justify-content: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

@media (min-width: 300px) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.submit {
  width: -moz-max-content;
  width: max-content;
  margin-block: 1rem;
  margin-right: 0.5rem;
  background-color: #793ea5;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffdd;
  padding: 0.3rem;
  cursor: pointer;
}

.disabled {
  width: -moz-max-content;
  width: max-content;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.3rem;
  margin-block: 1rem;
  margin-right: 0.5rem;
  background-color: #fec400;
  border: 1px solid #793ea5;
  cursor: no-drop;
}

.default {
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  padding: 0.3rem;
  font-weight: 600;
  font-size: 1.3rem;
  margin-block: 1rem;
  margin-right: 0.5rem;
  color: #fec400;
  border: 1px solid #fec400;
  cursor: pointer;
}
.default:hover {
  color: #ffffdd;
  border: 1px solid #793ea5;
}

.textarea-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.textarea-container > label {
  display: block;
  color: #fec400;
  transform: scale(0);
}
.textarea-container .textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #793ea5;
  border-right: 1px solid #793ea5;
  border-bottom-right-radius: 8px;
  outline: none;
  color: #ffffdd;
  padding: 0.4rem;
}

.input-container {
  margin-bottom: 1rem;
}
.input-container > label {
  display: block;
  color: #fec400;
  transform: scale(0);
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
}
.input-container .input {
  height: 40px;
  margin-bottom: 0.2rem;
  display: flex;
}
.input-container .input > span {
  flex-grow: 1;
  min-width: 2rem;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #793ea5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #ffffdd;
}
.input-container .input > input {
  flex-grow: 9;
  height: 100%;
  padding-left: 1rem;
  outline: none;
}
.input-container .input > .input-invalid {
  border: 1px solid rgb(223, 69, 84);
  box-shadow: 0px 0px 10px rgb(223, 69, 84);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: transparent;
  color: #ffffdd;
}
.input-container > .message > .invalid {
  font-style: italic;
  color: rgb(223, 69, 84);
  font-size: 0.8rem;
  font-weight: 600;
}

.login-input {
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.text-input {
  border: none;
  border-bottom: 1px solid #793ea5;
  border-right: 1px solid #793ea5;
  border-bottom-right-radius: 8px;
  background-color: transparent;
  color: #ffffdd;
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.show-label {
  animation: show 1000ms ease forwards;
}

#logIn {
  height: 100vh;
  min-height: 100vh;
  background-image: url("./Img/background-log-in-mini.webp");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  padding-bottom: 1rem;
  padding-top: 3rem;
  color: #ffffdd;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logIn .form {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8666666667);
  padding: 1rem;
}
#logIn .form > .form-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#logIn .form > .form-header > svg:hover {
  cursor: pointer;
}
#logIn .form > .form-header > .relative {
  position: absolute;
  top: -90%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
#logIn .form > .message-container {
  padding-block: 1rem;
}
#logIn .form > .message-container > .api-message {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8666666667);
  margin: 0 auto;
  color: #ffffdd;
  font-size: 0.8rem;
  border: 1px solid #fec400;
  padding: 0.3rem;
  text-align: center;
  box-shadow: 0 0 10px rgb(223, 69, 84);
}
#logIn .form > .form-footer {
  padding: 1rem;
  border-top: 1px solid #9c9c9c;
  color: #ffffdd;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logIn .form > .form-footer > p > span > a {
  color: #fec400;
}

#left-container > h3 {
  margin: 1rem 1rem;
  text-align: center;
}
#left-container > .input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#left-container > .input-group > div {
  flex-grow: 1;
}
#left-container .sendButton > button {
  float: right;
  margin: 1rem 3rem;
  border-radius: 4px;
  padding: 0.3rem;
  width: max(150px, 30%);
}

#right-container .savedInformation > .headlineInformation > h3 {
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ffffdd;
}
#right-container > .lastVisit {
  border: 1px solid #fec400;
  border-radius: 10px;
  padding: 1rem 0.2rem;
}
#right-container > .lastVisit > h3 {
  text-align: center;
  margin-bottom: 1rem;
}
#right-container > .lastVisit > h3 > span {
  color: #fec400;
}

#reception {
  min-height: 100vh;
  background-image: url("./Img/hero-bg.webp");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  padding-bottom: 1rem;
  padding-top: 3rem;
  color: #ffffdd;
}

#leftContentMeasuring .carpetId {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
#leftContentMeasuring .carpetId > label > span {
  color: #fec400;
}
#leftContentMeasuring .carpetId input {
  width: 60px;
  text-align: center;
  margin-top: 0.5rem;
  border-left: 1px solid #793ea5;
  border-top: 1px solid #793ea5;
  border-top-left-radius: 8px;
  font-size: 1.3rem;
}
#leftContentMeasuring .date {
  margin-block: 1rem;
}
#leftContentMeasuring .date .react-date-picker button svg {
  stroke: #793ea5;
}
#leftContentMeasuring > .forPay {
  width: 100%;
  height: 5rem;
  padding: 1rem;
}
#leftContentMeasuring > .forPay > p {
  float: right;
}
#leftContentMeasuring > .forPay > p > span {
  color: #fec400;
  font-size: 1.7rem;
}

#rightContentMeasuring .carpetDiv {
  border: 1px solid #fec400;
  border-radius: 20px;
  padding: 1rem;
}
#rightContentMeasuring .carpetDiv p {
  margin-bottom: 0.3rem;
}
#rightContentMeasuring .carpetDiv p span {
  color: #fec400;
  font-style: italic;
}

#measuringAndPreparingCarpet {
  min-height: 100vh;
  background-image: url("./Img/hero-bg.webp");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  padding-bottom: 1rem;
  padding-top: 3rem;
  color: #ffffdd;
}

#deliveryPage {
  min-height: 100vh;
  background-image: url("./Img/hero-bg.webp");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  padding-bottom: 1rem;
  padding-top: 3rem;
  color: #ffffdd;
}
#deliveryPage .reception > p {
  text-align: center;
  margin-bottom: 1rem;
}
#deliveryPage .reception > p span {
  color: #fec400;
  font-size: 1.3rem;
}

#scheduling {
  min-height: 100vh;
  background-image: url("./Img/hero-bg.webp");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  padding-bottom: 1rem;
  padding-top: 3rem;
  color: #ffffdd;
}
#scheduling h3 {
  text-align: center;
}

#modal {
  width: 100%;
  height: 0%;
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 10;
  animation: show-modal 500ms ease forwards;
}
#modal .modal-content {
  width: clamp(300px, 80%, 600px);
  height: 100%;
}

@keyframes show-modal {
  100% {
    height: 100%;
  }
}
.fixed {
  position: fixed;
  top: 5%;
  right: 5%;
  padding: 0.3rem;
  background-color: transparent;
  border: 1px solid #fec400;
  color: #fec400;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms ease all;
}
.fixed:hover {
  color: #793ea5;
  background: #fec400;
}

.holder {
  width: 100%;
  height: 2.4rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #793ea5;
}
.holder > nav {
  height: 100%;
}
.holder > nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 3rem;
  font-size: 1rem;
  list-style: none;
}
.holder > nav > ul > li {
  padding: 0.2rem;
  position: relative;
}
.holder > nav > ul > li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #fec400;
  transition: 500ms ease;
}
.holder > nav > ul > li:hover::after {
  transition: 500ms ease;
  width: 100%;
}
.holder > nav > ul > li > a {
  text-decoration: none;
  color: #ffffdd;
  font-weight: 600;
  font-style: italic;
}
.holder > .manu {
  display: none;
}

@media (max-width: 868px) {
  .holder {
    height: 3rem;
    background-color: transparent;
  }
  .holder > .large-screen {
    display: none;
  }
  .holder > .manu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    background-color: rgba(0, 0, 0, 0.8666666667);
  }
  .holder > .manu > span {
    color: #793ea5;
    font-size: 1.7rem;
  }
  .holder > .manu > button {
    margin: 0;
    color: #793ea5;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1.7rem;
    cursor: pointer;
  }
  .holder > .manu > button > svg {
    color: #793ea5;
  }
}
.mobile-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-nav > nav {
  width: 100%;
}
.mobile-nav > nav > ul > li {
  min-width: 33vw;
  transform: translateX(200%);
  font-size: 1.7rem;
  margin: 1rem;
  border-bottom: 1px solid #793ea5;
  border-radius: 10px;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.mobile-nav > nav > ul > li:hover > a {
  color: #fec400;
}
.mobile-nav > nav > ul > li > a {
  text-decoration: none;
}

.animation-0 {
  animation: li-animation 500ms ease 250ms forwards;
}

.animation-1 {
  animation: li-animation 500ms ease 500ms forwards;
}

.animation-2 {
  animation: li-animation 500ms ease 750ms forwards;
}

.animation-3 {
  animation: li-animation 500ms ease 1000ms forwards;
}

.animation-4 {
  animation: li-animation 500ms ease 1250ms forwards;
}

@keyframes li-animation {
  100% {
    transform: translateX(0%);
  }
}
.header-reception {
  min-height: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3333333333);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.2rem;
}
.header-reception .washer-logo {
  font-size: 1.3rem;
}
.header-reception span {
  cursor: pointer;
}

.info-mobile {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-mobile > div {
  border-bottom: 1px solid #793ea5;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: min(90%, 350px);
  transform: translateX(200%);
}
.info-mobile div p {
  color: #ffffdd;
  font-size: 1rem;
  font-weight: 300;
}
.info-mobile div span {
  color: #793ea5;
  font-style: italic;
  margin: 0.5rem 0 0 1rem;
  font-size: 1.3rem;
}

@media (max-width: 868px) {
  .header-reception {
    justify-content: center;
  }
  .washer-logo {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  font-family: "Montserrat";
}

svg {
  color: #ffffdd;
}

.section-part {
  border: 1px solid #793ea5;
  border-radius: 20px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8666666667);
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  color: #fec400;
  margin: 1rem;
  text-shadow: 2px 2px 2px #222;
}

.information {
  padding: 0.3rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #793ea5;
  border-radius: 10px;
  margin-bottom: 0.3rem;
}
.information > :first-child {
  display: block;
  font-style: italic;
  color: #fec400;
  font-weight: 300;
  margin-bottom: 0.3rem;
}
.information > :last-child {
  margin-left: 1rem;
  font-size: 0.9rem;
}

.big-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.big-button > button {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  width: max(220px, 80%);
}/*# sourceMappingURL=index.css.map */